//////////////////////////////
// GRID

.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 4rem;

  @include breakpoint(laptop) {
    padding: 0 8rem;
  }

  @include breakpoint(tablet-portrait) {
    padding: 0 6rem;
  }

  @include breakpoint(mobile-lg) {
    padding: 0 2rem;
  }
}

.grid {
  display: grid;

  &__search {
    grid-template-columns: 1fr 28% 30%;
    gap: 2rem;

    @include breakpoint(laptop) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include breakpoint(tablet-landscape) {
      grid-template-columns: 29% 29% 1fr;
    }

    @include breakpoint(tablet-portrait) {
      display: none;
    }

    &-mobile {
      display: none;

      @include breakpoint(tablet-portrait) {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  &__home {
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    grid-gap: 7rem 3rem;
  }

  &__job-header {
    grid-template-columns: 1fr minmax(16rem, 25%);
    align-items: center;
    justify-content: space-between;

    @include breakpoint(tablet-portrait) {
      grid-template-columns: 1fr;
    }
  }

  &__company-info {
    grid-template-columns: minmax(16rem, 16rem) 1fr;
    grid-gap: 3rem;
    align-items: center;

    @include breakpoint(tablet-landscape) {
      grid-template-columns: minmax(14rem, 14rem) 1fr;
    }

    @include breakpoint(tablet-portrait) {
      grid-template-columns: 1fr;
      grid-template-rows: minmax(10rem, 10rem) 1fr;
      justify-content: center;
    }
  }

  &__error {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 40rem));
    align-items: center;
    justify-content: center;
    grid-gap: 6rem 4rem;
  }
}
