//////////////////////////////
// GRID

.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 4rem;

  @include breakpoint(laptop) {
    padding: 0 8rem;
  }

  @include breakpoint(tablet-portrait) {
    padding: 0 6rem;
  }

  @include breakpoint(mobile-lg) {
    padding: 0 4rem;
  }

  @include breakpoint(mobile-sm) {
    padding: 0 3rem;
  }
}

.grid {
  display: grid;

  &__search {
    grid-template-columns: 1fr 28% 30%;
    gap: 2rem;

    @include breakpoint(laptop) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include breakpoint(tablet-landscape) {
      grid-template-columns: 29% 29% 1fr;
    }

    @include breakpoint(tablet-portrait) {
      display: none;
    }

    &-mobile {
      display: none;

      @include breakpoint(tablet-portrait) {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
