//////////////////////////////
// BUTTON

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: $kumbh-sans;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--white);
  border: none;
  border-radius: 0.8rem;
  outline: none;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  cursor: pointer;

  &__search {
    background-color: var(--violet);
    padding: 1.4rem 3.4rem;
    transition: all 0.4s ease-in-out;

    @include breakpoint(tablet-landscape) {
      padding: 1.4rem 2.2rem;
    }

    &:hover {
      background-color: var(--light-violet);
      box-shadow: 0 0.8rem 1.6rem rgba(96, 106, 215, 0.25);
    }
  }

  &__filter,
  &__icon {
    display: flex;
    align-items: flex-start;
    padding: 1.4rem 1.8rem;
  }

  &__filter {
    background-color: transparent;
    fill: var(--icon-filter-fill);
  }

  &__icon {
    background-color: var(--violet);
  }

  &--full {
    background-color: var(--violet);
    margin-top: 5rem;
    padding: 2rem;
    width: 100%;
  }

  &__load {
    background-color: var(--violet);
    color: var(--white);
    padding: 1.7rem 3rem;
    transition: all 0.4s ease-in-out;

    &:hover {
      background-color: var(--light-violet);
    }
  }

  &__company,
  &__apply {
    padding: 1.4rem 2.8rem;
    border-radius: 0.5rem;
    transition: background-color 0.4s ease-in-out;

    @include breakpoint(mobile-lg) {
      padding: 1.6rem 3.6rem;
    }
  }

  &__company {
    background-color: rgba(148, 156, 244, 0.2);
    color: var(--site-button);

    &:hover {
      background-color: rgba(148, 156, 244, 0.4);
      transition: background-color 0.4s ease-in-out;
    }
  }

  &__apply {
    background-color: var(--violet);
    color: var(--white);

    &:hover {
      background-color: var(--light-violet);
      transition: background-color 0.4s ease-in-out;
    }
  }
}
