//////////////////////////////
// ERROR

.error {
  margin: 10rem 0 12rem;

  &__text {
    @include breakpoint(tablet-portrait) {
      text-align: center;
    }
  }

  &__heading {
    font-size: 2.2rem;

    @include breakpoint(tablet-portrait) {
      font-size: 1.8rem;
    }
  }

  &__message {
    font-size: 1.8rem;
    margin-top: 1rem;

    @include breakpoint(tablet-portrait) {
      font-size: 1.6rem;
      margin-top: 2rem;
    }
  }

  &__illustration {
    display: flex;

    & img {
      width: 100%;
    }
  }
}
