//////////////////////////////
// HOME

.home {
  position: relative;
  margin: 8rem auto 8rem;
  padding-bottom: 14rem;

  &__cta {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    transform: translateX(-50%);
  }

  &__text {
    text-align: center;
    padding: 0 1rem;
  }
}
