//////////////////////////////
// TYPOGRAPHY

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

body {
  font-family: $kumbh-sans;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  background-color: var(--body-bg);
  color: var(--body-text);
  transition: background-color 0.2s ease-in-out;
  overflow-y: scroll;

  &.active {
    overflow: hidden;
  }
}

h1,
h2,
h3 {
  font-weight: 700;
  color: var(--heading);
}

ul,
ol {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline: none;
}

input[type="text"] {
  font-family: $kumbh-sans;
  font-size: 1.8rem;
  background-color: transparent;
  color: var(--input-text-color);
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 2rem 0 1.5rem;

  @include breakpoint(tablet-landscape) {
    font-size: 1.6rem;
  }

  @include breakpoint(tablet-portrait) {
    font-size: 1.8rem;
    padding: 0;
  }

  @include breakpoint(mobile-sm) {
    font-size: 1.6rem;
  }
}

input[type="text"]::placeholder {
  font-size: 1.6rem;
  color: var(--dark-gray);
  padding: 1rem 0;

  @include breakpoint(tablet-landscape) {
    font-size: 1.4rem;
  }

  @include breakpoint(tablet-portrait) {
    font-size: 1.8rem;
  }

  @include breakpoint(mobile-sm) {
    font-size: 1.4rem;
  }
}
